/p3/Practica3/nbproject/private/
/p3/Practica3/build/
/p3/Practica3/dist/
/p3/EscritorioSM(p3.2)/nbproject/private/
/p3/EscritorioSM(p3.2)/build/
/p3/EscritorioSM(p3.2)/dist/
/p4/Practica4/nbproject/private/
/p4/Practica4/build/
/p4/Practica4/dist/
/p5/Practica5/nbproject/private/
/p5/Practica5/build/
/p5/Pruebas/nbproject/private/
/p5/Pruebas/build/
/p5/Practica5/dist/
